@font-face {
    font-family: 'seven_segmentregular';
    src: url('seven_segment-webfont.woff2') format('woff2'),
         url('seven_segment-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: darkcyan;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 560px;
    margin-top: 30px;
    gap: 0px;
    border: 1px solid darkgrey;
    padding: 20px;
    box-sizing: border-box;
    font-size: 30px;
    flex: 1;
    background-color: darkgrey;
    border-radius: 12px;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    width: 330px;
}

.row {
    display: flex;
    align-items: center;
    gap: inherit;
    flex: 1;
}

.row >button {
    flex: 1;
}

#buttons .one {
    align-items: center;
    justify-content: flex-end;
}

#clear, #delete {
    flex: 0 1 0;
    font-size: 16px;
    background-color: darkred;
}

.number {
    background-color: grey;
}

.operator, #float, #equal {
    background-color: black;
}

button {
    padding: 6px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    border-radius: 8px;
    color: white;
}

#results {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    border-radius: 8px;
    justify-content: end;
    align-items: flex-end;
    align-self: flex-end;
    gap: 8px;
    margin-bottom: 20px;
    width: 330px;
    height: 60px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    background-color: rgba(21, 197, 21, 0.411);
    font-family: 'seven_segmentregular';
}

#former {
    font-size: 16px;
}

.decreaseSize {
    font-size: 24px;
}
